html{
    background-color: blue;

}
h1{

    font-family: 'Shrikhand', serif;
    font-weight: 300;
}
h2{
    font-family: 'Cinzel', serif;
    color: aqua;
}

ul{
    color:yellow;

}